(% extends "layout.html" %)

(% block content %)

<div class="container-fluid">
    <br>
    <br>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm text-center">
            <h2>GNPS MASST</h2>
        </div>
        <div class="col-sm"></div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
                <p>
                    This interface enables you to search a single MS/MS spectrum against public GNPS spectral libraries and all public MS/MS datasets. Find exactly in what contexts your molecule has been previously observed.
                <br>
                </p>
        </div>
        <div class="col-sm"></div>
    </div>

    <br>

    <form  action="/submit" method="post" id="masstform">
        <div class="row">

            <div class="col-sm">
                <h2> Search Parameters </h2>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Minimum Cosine Score</label>
                    <input type="number" step="any" class="form-control" name="cosinescore" value="0.7">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Minimum Matched Peaks</label>
                    <input type="number" step="any" class="form-control" name="matchedpeaks" value="6">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Parent Mass Tolerance</label>
                    <input type="number" step="any" class="form-control" name="pmtolerance" value="2.0">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Fragment Mass Tolerance</label>
                    <input type="number" step="any" class="form-control" name="fragmenttolerance" value="0.5">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Analog Search</label>
                    <select class="form-control" name="analogsearch">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Public Databases to Search</label>
                    <select class="form-control" name="database">
                        <option value="ALL">Non-redundant MS/MS</option>
                        <option value="GNPS">GNPS</option>
                        <option value="METABOLOMICSWORKBENCH">Metabolomics Workbench</option>
                        <option value="METABOLIGHTS">Metabolights</option>
                    </select>
                </div>
            </div>

            <div class="col-sm">
                <h2> Spectrum Peaks </h2>
                <div class="form-group">
                    <label for="precursormz">Precursor M/Z</label>
                    <input id="precursormz" type="number" step="any" class="form-control" name="precursormz" placeholder="1044.66">
                </div>
                <div class="form-group">
                    <label for="peaks">Peaks</label>
                    <textarea id="peaks" class="form-control" name="peaks" rows="12" placeholder='Enter peaks here in the follow format "mass intensity", one per line separated by white space (space or tab).&#10;For Example: &#10;463.381 43.591&#10;693.498 119.206&#10;694.496 42.985&#10;707.494 508.18&#10;708.512 197.117&#10;709.558 18.679&#10;723.4 43.831&#10;800.494 476.556&#10;801.518 196.451&#10;802.496 95.972&#10;814.513 86.182&#10;931.574 50.803&#10;972.868 14.634&#10;1016.62 66.809&#10;1017.58 16.578&#10;1025.57 22.426'></textarea>
                </div>
            </div>

            <div class="col-sm">
                <h2> Reporting Information </h2>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Analysis Description</label>
                    <input type="text" class="form-control" name="description" placeholder="MASST Analysis">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">GNPS Login</label>
                    <input type="text" class="form-control" name="login" placeholder="GNPS Username (optional)">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">GNPS Password</label>
                    <input type="password" class="form-control" name="password" placeholder="GNPS Password (optional)">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm">
                <div onclick="populate_demo()" class="btn btn-primary btn-block">Populate Demo</div>
            </div>

            <div class="col-sm">
                <button type="Search" class="btn btn-primary btn-block">MASST Molecule</button>
            </div>
            <div class="col-sm"></div>
        </div>
    </form>
</div>

<script>
function populate_demo() {
    $("#peaks").val("463.381	43.591\n\
693.498	119.206\n\
694.496	42.985\n\
707.494	508.18\n\
708.512	197.117\n\
709.558	18.679\n\
723.4	43.831\n\
800.494	476.556\n\
801.518	196.451\n\
802.496	95.972\n\
814.513	86.182\n\
931.574	50.803\n\
972.868	14.634\n\
1016.62	66.809\n\
1017.58	16.578\n\
1025.57	22.426")

    $("#precursormz").val("1044.66")

}

window.onload = function () {
    url_path = window.location.pathname
    console.log($("#masstform")[0].action)
    if(url_path.indexOf("masst") != -1){
        $("#masstform")[0].action = "/masst/submit"
    }
}


</script>

(% endblock %)